/* CSS Grid */
.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px 200px;
}

.player-box {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main-box {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: red;
}

.App {
  margin-top: 70px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.poodle {
display: flex;
align-items: center;
}
.timer-container {
 padding: 1rem; 
//  margin-left: 1rem;
}
