/* CSS Grid */
.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px 200px;
}

.player-box {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main-box {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  min-width: 600px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.App {
  margin-top: 70px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.poodle {
display: flex;
align-items: center;
margin-top: 5px;
}
.timer-container {
 padding: 1rem; 
}
#poodle-icon {
  background: transparent;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}